__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env
venv/
env/

instance/
*.db
*.sqlite

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log

*.tar
*.pid
*.sock
*.swp
docker-compose.override.yml

.vscode/
.idea/
.DS_Store
*.iml